<app-paginator *ngIf="issuePaginationLinks"
               [disable]="loading"
               [currentPage]="currentPage"
               [linkHeader]="issuePaginationLinks"
               (paginate)="loadIssues($event)"></app-paginator>

<div *ngIf="loading"
     class="spinner-container"><img src="assets/loader.gif"></div>

<div *ngIf="!loading"
     class="issue-list-container">
  <div class="issue-list-title-container">
    <span>Number of issues: {{ issues ? issues.length : 0 }}</span>
  </div>
  <ng-container *ngIf="issues">
    <div *ngFor="let issue of issues; index as i"
         class="issue-container">
      <div class="issue-title">
        <span routerLink="/timeline"
              [queryParams]="{issue_id: issue.id, page: currentPage}">{{ issue.title }}</span>
      </div>
      <div class="issue-details">#{{issues.length - i}} opened {{ issue.createdAt | daysAgo }} by {{ issue.author }}
      </div>
    </div>
  </ng-container>
</div>
