<div class="return-btn-container"><button type="button"
          routerLink="/"
          [queryParams]="{ page: issueListPage }">BACK TO LIST</button></div>
<div *ngIf="issueEvents"
     class="timeline-container">
  <ng-container *ngFor="let issueEvent of issueEvents">
    <ng-container
                  *ngComponentOutlet="issueEvent.component; injector: createEventPropertiesInjector(issueEvent.properties)">
    </ng-container>
  </ng-container>
</div>
<ng-container *ngIf="!issueEvents?.length">
  <div class="no-events-msg">There are no events for selected issue.</div>
</ng-container>
